@{
    Layout = "/Areas/Admin/Shared/_LayoutAdmin.cshtml";
    ViewData["NameActivePage"] = NavigationPages.Profiles;
}

<h1>Manage your account</h1>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("~/Areas/Admin/Pages/User/Manage/_ManageNav.cshtml")
            @*<partial name="_ManageNav" />*@
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}