@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <img src="~/img/AspNetCore31-Architecture.png" style="width:400px;" />
    <br />
</div>

@section Scripts {
}